@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navigation Start  */

nav .container-fluid{
  height: auto;
}

nav .logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px !important;
}
nav .nav-item{
  margin: 5px;
  position: relative;
}

nav .dropdown-menu .dropdown-item{
  padding: 20px;
}

nav .navbar-nav .nav-link {
  color: #ffffff !important;
  padding: 15px;
}

nav .navbar-nav .nav-link:hover {
  color: tomato !important;
}

nav .navbar-nav .nav-link:focus, nav .navbar-nav .nav-link:active{
  font-weight: 600 !important;
}

nav .navbar-nav .dropdown-menu {
  background-color: #343434 !important;
  border-radius: 0;
  border: none;
}

nav .dropdown-item {
  color: #e9e9e9;
}


nav .dropdown-item:hover {
  background-color: tomato !important;
  color: #ffffff !important;
}

/* Media Query */
@media (max-width: 992px) {
  nav .navbar-nav {
      text-align: center;
  }
}

/* navigation end  */

  /* section start  */


section {
    height: auto;
    width: 100%;
    margin-top: 30px;
  }

  section .top-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    position: relative;
    width: 80%;
  }

  section .top-image .image{
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section .top-image .accordion-image{
    background-image: url(/images/categories-image/Accordian/origami-accordion-easter-eggs.jpg);
    background-position: center;
    background-size: cover;
}


section .top-image .animal-image{
    background-image: url(/images/categories-image/animal/origami-bat.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .anime-image{
    background-image: url(/images/categories-image/Anime\ &\ game\ charactor/00.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .drawer-image{
    background-image: url(/images/categories-image/Drawers/origami-long-drawers-1.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .box-image{
    background-image: url(/images/categories-image/box/origami-honeycomb-box.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .food-image{
    background-image: url(/images/categories-image/food/origami-pumpkin-box-tutorial.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .envelopes-image{
    background-image: url(/images/categories-image/envelops/origami-paper-storage-pocket-paper.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .flower-image{
    background-image: url(/images/categories-image/flower/origami-modular-lotus-flower.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .gemstone-image{
    background-image: url(/images/categories-image/gemston/origami-diamond-paper-2.jpg);
    background-position: center;
    background-size: cover;
}

section .top-image .mothersday-image{
    background-image: url(/images/categories-image/mother\'s\ day/origami-flower-pot.jpg);
    background-position: center;
    background-size: cover;
}




  section .top-image h1{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.87);
   font-size: 3rem;
   padding: 20px;
  }

  section .top-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px;
  }
  
  section .top-text p{
    width: 70%;
    font-size: 1.2rem;
    /* font-weight: 400; */
    margin: 20px 0px;
    font-family: 'Roboto', sans-serif;
  }

  
section .container{
  margin-top: 50px;
    max-width:1500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section .container h1{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom:50px;
  }
   .contaier-card {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0 30px;
    flex-wrap: wrap;
    
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 350px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
.card:hover {
    transform: translateY(-8px);
  }
  
  .card-img-top {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom: 1px solid #ddd;
  }
  
.card-body {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
  }
  
.card-title {
    font-family:sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    font-family: 'Roboto', sans-serif;
    color: #666;
    margin-bottom: 15px;
    font-size: 1rem;
    height: 100px;
  }
  
  .button {
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: tomato;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   .button:hover span {
    padding-right: 15px;
    color: white;
   }
   
   .button:hover span:after {
    opacity: 1;
    right: 0;
   }

   /* section end  */

            /* footer start  */

          
            footer {
              background: #343434;
              padding-top: 50px;
              color: white;
              width: 100%;
          }
  
          footer .container{
              width: 100%;
              max-width: 2000px;
              margin: auto;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              padding: 0 15px;
          }
  
          footer .footer-content {
              width: 33.3%;
              padding: 15px;
          }
  
          footer h3 {
              font-size: 28px;
              margin-bottom: 15px;
              text-align: center;
          }
  
          footer .footer-content p {
              width: 190px;
              margin: auto;
              padding: 7px;
          }
  
          .footer-content ul {
              text-align: center;
              padding: 0;
          }
  
          footer .list li {
              list-style-type: none;
              padding: 7px;
              position: relative;
          }
  
          footer .list a::before {
              content: '';
              position: absolute;
              transform: translate(-50%, -50%);
              left: 50%;
              top: 90%;
              width: 0;
              height: 2px;
              background: #f18930;
              transition-duration: .3s;
          }
  
          footer .list a:hover::before {
              width: 65px;
          }
  
          footer .social-icons {
              text-align: center;
              padding: 0;
          }
  
          footer .social-icons li {
              display: inline-block;
              text-align: center;
              padding: 5px;
          }
  
          footer .social-icons i {
              color: white;
              font-size: 25px;
          }
  
          footer a {
            color: rgb(255, 255, 255);
              text-decoration: none;
          }
  
          footer .list a:hover {
              color: #f18930;
          }
  
          footer .social-icons .fa-facebook:hover {
            color: #3b5998;
           }
           
           footer .social-icons .fa-twitter:hover {
             color: #1da1f2;
           }
           
           footer .social-icons .fa-instagram:hover {
               background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
           }
           
           footer .social-icons .fa-linkedin:hover {
             color: #0077b5;
           }
  
          footer .bottom-bar {
              background: #f18930;
              text-align: center;
              padding: 10px 0;
              margin-top: 50px;
          }
  
          footer .bottom-bar p {
              color: #343434;
              margin: 0;
              font-size: 16px;
              padding: 7px;
          }
  
          @media (max-width: 768px) {
              .footer-content {
                  width: 50%;
              }
          }
  
          @media (max-width: 576px) {
             footer .footer-content {
                  width: 100%;
                  text-align: center;
              }
  
              footer .footer-content p {
                  width: 100%;
              }
  
              footer .list li {
                  padding: 5px 0;
              }
  
              footer .social-icons li {
                  padding: 5px;
              }
          }

            /* footer end  */